body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 460px 200px auto;
  grid-template-rows: 460px;
  background-color: black;
  color: #f80;
}

.box {
  background-color: #888;
  color: #f80;
  padding: 20px;
  font-family: courier;
}
